### Средний вес людей в сравнении с весом двадцати людей с ростом 170-180

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import norm

%matplotlib inline

In [102]:
#Загружаем данные о росте и весе людей из файла
data = pd.read_csv( 'hw_25000.csv', names = ['index', 'height_inches', 'weight_pounds'], header = 0 )
data.head()

   index  height_inches  weight_pounds
0      2       71.51521       136.4873
1      3       69.39874       153.0269
2      4       68.21660       142.3354
3      5       67.78781       144.2971
4      6       68.69784       123.3024

In [103]:
# переводим высоту в сантиметры
data['height'] = data['height_inches'] * 2.54
# переводим вес в киллограмы
data['weight'] = data['weight_pounds'] * 0.454
data.head()

   index  height_inches  weight_pounds      height     weight
0      2       71.51521       136.4873  181.648633  61.965234
1      3       69.39874       153.0269  176.272800  69.474213
2      4       68.21660       142.3354  173.270164  64.620272
3      5       67.78781       144.2971  172.181037  65.510883
4      6       68.69784       123.3024  174.492514  55.979290

In [104]:
#Задаем маску: отбираем людей с ростом больше 170см
mask170 = ( data.height >=170 )

In [105]:
#Применяем маску
height_170_up=data.loc[mask170]

In [106]:
#Задаем маску: отбираем людей с ростом ниже 180см
mask180 = ( height_170_up.height <=180 )

In [107]:
#Применим вторую маску к выборке людей, которые выше 170
height_170_up_180_down = height_170_up.loc[mask180]

In [108]:
#Посмотрим количество элементов вошедших в выборку
len(height_170_up_180_down)

16141

In [109]:
#Для простоты выберем вес 20 первых людей из полученной выборки
Sample2=height_170_up_180_down.head(20).weight.tolist()

In [110]:
#Посмотрим нашу выборку
Sample2

[69.4742126,
 64.6202716,
 65.5108834,
 55.9792896,
 64.2385938,
 61.953884200000005,
 51.0170242,
 51.820921999999996,
 57.0272578,
 55.5976572,
 52.703316400000006,
 64.9098782,
 56.3163846,
 64.1414378,
 65.1667968,
 58.79422580000001,
 64.39994540000001,
 58.8948776,
 64.660269,
 59.723790799999996]

In [111]:
#Смотрим среднее значение веса для всех людей из файла
np.mean( data['weight'] )

57.6943130357247

In [112]:
#Смотрим среднее значение веса в нашей выборке людей с ростом от 170 до 180
np.mean(Sample2)

60.347545939999996

In [113]:
#Вычисляем Т-критерии
stats.ttest_1samp( Sample2 , data['weight'].mean())

Ttest_1sampResult(statistic=2.2436269987691793, pvalue=0.036968991384735521)

In [114]:
#Поскольку pvalue получилось меньше 0.05, то можно сделать вывод, что разница между средним весом
#людей из полной выборки и средним весом из выборки Sample2 статистически значима